<!DOCTYPE html>
<html>
<head>
	<title>New Page</title>
</head>
<body>
	<form action="/todo" method="POST">
			name: <input type="text" name="name"> 
			<input type="submit" value="Submit">
	</form>
</body>
</html>